body{
    margin: 0;
    padding: 0;
    background-color: #D8D9C8;
    color: #121113;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #121113;
}

ul{
    list-style-type: none;
  }

/* -----------------nav div--------------------- */

.nav-div{
    height: 100vh;
    width: 200px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(142,164,122,1) 78%);
    filter: drop-shadow(1px 1px 5px black);
    margin-top: -2.5vh;

}
/* -----------------nav h1--------------------- */

.nav-div h1{
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.cookbook-h1{
    margin-top: 0;
}

.logo-white{
    margin-left: 30px;
    height: 150px;
    width: 150px;
}

/* -----------------nav button--------------------- */

.nav-but button{
    width: 160px;
    height: 40px;
    justify-content: center;
    border-radius: 30px;
    border: 0ch;
    margin-left: 10px ;
    margin-top: 40px;
    font-size: 1.5rem;
    filter: drop-shadow(2px 2px 4px #797979);
}
.nav-but i {
    margin-left: 8px;
    color: #121113;
}

/* -----------------nav ul--------------------- */

.nav-ul li{
    margin-top: 10px;
    font-size: 20px;

}

.nav-ul{
    margin-top: 40px;
    padding-left: 10px;
}

/* -----------------nav ul--------------------- */

.about-me {
    margin-left: 10px;
    margin-top: 40%;
    font-size: 15px;
}

/* -----------------search bar--------------------- */

.search-bar input{
    height: 50px;
    width: 30%;
    border-radius: 40px;
    border: 0ch;
    filter: drop-shadow(drop-shadow(10px 1px 5px black));
}

.search-bar ::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    padding-left: 30px;
}

